body {
    background: white;
}

h1 {
    color: #f01414;
}

.rote_striche {
    background-color: #f01414;
    height: 50px;
}

.Startort {
    width: 125px;
}

#ice {
    width: 36vw;
}

.wagen {
    margin: 5vw;
    height: 100%;
}

.sitz {
    width: 5vw;
    height: 5vw;

    background: #e3e3e3;

    margin: 0.1vw;

    float: left;
}

.zwischenraum {
    width: 5vw;
    height: 5vw;

    background: white;

    float: left;
}

.button {
    background-color: #f01414;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
input {  
margin: 5px;
}