		h1 {
			color:#f01414;
		}
		body {
			background:#f0f0f2;
		}
		.rote_striche {
			background-color:#f01414;
			height:50px;
		}
		div {
			padding:10px 220px;
		}
		.Startort {
			with: 125px;
		}
		.button {
 			background-color: #f01414;
  			border: none;
  			color: white;
  			padding: 15px 25px;
  			text-align: center;
  			font-size: 16px;
  			cursor: pointer;
			border-radius: 5px;
		}
